@import 'src/styles/variables.scss';

.mobile-header-container {
  // border: 1px solid green;
  padding: 1.5rem;
}

.mobile-nav-menu {
  position: absolute;
  left: 30%;
  width: 100%;
  height: 100%;
  background-color: $grey-light;


  ul {
    display: flex;
    flex-direction: column;
  }

  li {
    display: flex;
    align-items: center;
    // border: 1px solid red;
    border-top: 3px solid $grey-primary;
    height: 5rem;
    padding-left: 15%;
    font-family: 'Open Sans', sans-serif;
    list-style: none;

    &:last-child {
      border-bottom: 3px solid $grey-primary;
    }

    &:active {
      background-color: $grey-dark;
    }

    &:focus {
      outline: 0;
    }
  }

}
