$mobile-screen: 768px;

$grey-primary:#9da9ae;
$grey-light: #cedbe0;
$grey-dark: #6f7a7f;

$alt-grey-primary: #b1b8bd;
$alt-grey-light: #e3eaef;
$alt-grey-dark: #82888d;

$red-primary: #c74f33;
$red-light: #ff7f5e;
$red-dark: #901d0a;

$alt-red-primary: #6b1d0d;
$alt-red-light: #9e4934;
$alt-red-dark: #3e0000;

$green-primary: #8e9e37;
$green-light: #c0cf66;
$green-dark: #5e7000;

$alt-green-primary: #717b28;
$alt-green-light: #a1aa55;
$alt-green-dark: #434f00;
