.header-wrapper {
    display: flex;

    .logo {
        // border: 1px solid red;
        padding: 1rem;
        background-image: url("src/assets/images/appleseed-logo.png");
        background-size: contain;
        background-repeat: no-repeat;

        @media only screen and (max-width : 768px) {
            flex-grow: 2;
        }
    }

}
