.mobile-header-container {
    // border: 1px solid green;
    padding: 1.5rem;
}

.mobile-nav-menu {
    // display: flex;
    // justify-content: center;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;

    ul {
        display: flex;
        flex-direction: column;
    }

    // TODO: add a big box that tints when clicked with a strong bottom border
    li {
        display: flex;
        align-items: center;
        border: 1px solid red;
        // width: 100%;
        // height: 5rem;
        margin: 2em 0;
        margin-left: 20%;
        margin-right: 30%;
        // padding-left: 20%;
        font-family: 'Open Sans', sans-serif;
        list-style: none;
    }
}